body {
background-color: #434343;
padding-top: 30px;
padding-bottom: 30px;
padding: inherit;
}
p {
  font-family: serif;
  color: #ffffff;
}

#paragraph {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  font-family: serif;
  color: #ffffff;
  font-size: 36pt;
  padding-left: 30px;
}
